body {
  margin: 0.5em;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #ffffff;
  color: #333333;
}

h1 {
  text-align: center;
}

.controls {
  display: inline-block;
  margin: 1em 0;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding: 1em;
  background-color: #476bd6;
  color: #f0f0f0;
  list-style: none;
}

.control {
  display: inline-block;
  margin: 0 0.5em;
}

.control:first-child {
  margin-left: 0;
}

.control:last-child {
  margin-right: 0;
}
